* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  text-align: center;

  main {
    margin-top: 5rem;

    button {
      color: black;
      padding: 1rem 2rem;
      margin: 2rem 1rem;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 1rem;
      transition-duration: 0.4s;
    }
    .text {
      margin: 2rem;
    }
    #player {
      background-color: rgb(255, 241, 113);
      padding: 10px;
      margin: 1rem;
      border: 1px solid;
    }
    #win {
      background-color: rgb(113, 170, 255);
      padding: 10px;
      margin: 1rem;
      border: 1px solid;
    }
    #health {
      background-color: rgb(252, 162, 162);
      padding: 10px;
      margin: 1rem;
      border: 1px solid;
    }
    #result {
      padding: 0.5rem;
    }
  }
}
